// variables
:root {
  // FONT
  --main-font: "Spartan", sans-serif;

  // FONT_COLOR
  --p-very-dark-magenta: hsl(300, 43%, 22%);
  --p-soft-pink: hsl(333, 80%, 67%);
  --s-dark-grayish-magenta: hsl(303, 10%, 53%);
  --s-light-grayish-magenta: hsl(300, 24%, 96%);
  --s-white: hsl(0, 0%, 100%);
}
